<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <p>
    <%= label_tag :nickname, 'Nickname' %>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= label_tag :to_url, 'Destination URL' %>
    <%= f.text_field :to_url %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
